[submodule "thirdparty/prof"]
	path = thirdparty/prof
	url = https://github.com/arsdever/prof
[submodule "thirdparty/filewatch"]
	path = thirdparty/filewatch
	url = https://github.com/ThomasMonkman/filewatch
